<a href="https://colab.research.google.com/github/jetrotal/Algoritmos/blob/main/aula_05_11_24_fatec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **REVISÃO AULA PASSADA - LAÇOS FOR E WHILE**

In [ ]:
# Exemplo de laço for
for i in range(5):
    print("Executando for, iteração:", i)

Executando for, iteração: 0
Executando for, iteração: 1
Executando for, iteração: 2
Executando for, iteração: 3
Executando for, iteração: 4

In [ ]:
# Exemplo de laço while
contador = 0
while contador < 5:
    print("Executando while, contador:", contador)
    contador += 1

Executando while, contador: 0
Executando while, contador: 1
Executando while, contador: 2
Executando while, contador: 3
Executando while, contador: 4



---

# **LISTAS, TUPLAS E DICIONÁRIOS**

Esses são conceitos essenciais para trabalhar com coleções de dados no Python e possuem características e usos específicos.

## 1. LISTAS

As listas são coleções mutáveis, o que significa que você pode modificar, adicionar ou remover elementos após a criação. Listas são definidas usando colchetes `[]`.

**Exemplo 1: Criando uma lista e acessando elementos**

In [ ]:
# Criando uma lista de frutas
frutas = ["maçã", "banana", "laranja"]

# Acessando elementos
print(frutas[0])  # Output: maçã
print(frutas[1])  # Output: banana
print(frutas[2])  # Output: laranja

maçã
banana
laranja

**Exemplo 2: Adicionando e removendo elementos**

In [ ]:
# Adicionando uma fruta à lista
frutas.append("uva")
print(frutas)  # Output: ['maçã', 'banana', 'laranja', 'uva']

# Removendo uma fruta da lista
frutas.remove("banana")
print(frutas)  # Output: ['maçã', 'laranja', 'uva']

['maçã', 'banana', 'laranja', 'uva']
['maçã', 'laranja', 'uva']

**Exemplo 3: Iterando sobre uma lista**

In [ ]:
# Exibindo cada fruta da lista
for fruta in frutas:
    print(fruta)
# Output:
# maçã
# laranja
# uva

maçã
laranja
uva

In [ ]:
frutas.insert(0, 'GOIABA')
frutas

['GOIABA', 'maçã', 'laranja', 'uva']

## 2. TUPLAS

As tuplas são semelhantes às listas, mas são imutáveis, ou seja, depois de criadas, seus elementos não podem ser alterados. Tuplas são definidas usando parênteses `()`.

**Exemplo 1: Criando uma tupla e acessando elementos**

In [ ]:
# Criando uma tupla de números
numeros = (1, 2, 3)

# Acessando elementos
print(numeros[0])  # Output: 1
print(numeros[1])  # Output: 2
print(numeros[2])  # Output: 3

1
2
3

**Exemplo 2: Usando tuplas para armazenar dados imutáveis**

In [ ]:
# Coordenadas geográficas de uma cidade
coordenadas = (40.7128, -74.0060)  # Latitude e Longitude de Nova York

# Exibindo as coordenadas
print(f"Latitude: {coordenadas[0]}, Longitude: {coordenadas[1]}")
# Output: Latitude: 40.7128, Longitude: -74.006

Latitude: 40.7128, Longitude: -74.006

**Exemplo 3: Desempacotando valores de uma tupla**

In [ ]:
# Desempacotando uma tupla em variáveis
(a, b) = (5, 10)
print(a)  # Output: 5
print(b)  # Output: 10

5
10

## 3. Dicionários

Os dicionários são coleções mutáveis de pares de chave-valor. Você usa chaves `{}` para defini-los, com cada item sendo uma combinação de uma chave e um valor, como "nome": "Maria".

**Exemplo 1: Criando e acessando elementos de um dicionário**

In [ ]:
# Criando um dicionário de informações de uma pessoa
pessoa = {"nome": "Maria", "idade": 25, "cidade": "São Paulo"}

# Acessando valores
print(pessoa["nome"])  # Output: Maria
print(pessoa["idade"])  # Output: 25

Maria
25

**Exemplo 2: Adicionando e atualizando valores**

In [ ]:
# Adicionando um novo par chave-valor
pessoa["profissão"] = "Engenheira"
print(pessoa)  # Output: {'nome': 'Maria', 'idade': 25, 'cidade': 'São Paulo', 'profissão': 'Engenheira'}

# Atualizando um valor existente
pessoa["idade"] = 26
print(pessoa)  # Output: {'nome': 'Maria', 'idade': 26, 'cidade': 'São Paulo', 'profissão': 'Engenheira'}

{'nome': 'Maria', 'idade': 25, 'cidade': 'São Paulo', 'profissão': 'Engenheira'}
{'nome': 'Maria', 'idade': 26, 'cidade': 'São Paulo', 'profissão': 'Engenheira'}

**Exemplo 3: Iterando sobre chaves e valores**

In [ ]:
# Iterando sobre as chaves e valores do dicionário
for chave, valor in pessoa.items():
    print(f"{chave}: {valor}")
# Output:
# nome: Maria
# idade: 26
# cidade: São Paulo
# profissão: Engenheira

nome: Maria
idade: 26
cidade: São Paulo
profissão: Engenheira

- **Listas** são mutáveis, definidas por `[]`, e permitem operações como adição, remoção e modificação.
- **Tuplas** são imutáveis, definidas por `()`, e são usadas para dados que não devem ser alterados.
- **Dicionários** são coleções de pares chave-valor, definidas por `{}`, e permitem acessar, adicionar, atualizar e remover dados.

Essas estruturas são fundamentais para manipulação de dados em Python, cada uma com suas próprias características e vantagens.



---

# **Funções Criadas pelo Usuário**

- sem retorno e sem parâmetros
- sem retorno e com parâmetros
- com retorno e sem parâmetros
- com retorno e com parâmetros

## 1. Função sem retorno e sem parâmetros
Essas funções realizam uma tarefa, mas não recebem dados nem retornam valores. Elas apenas executam um bloco de código.

**Exemplo:**

In [ ]:
def saudacao():
    print("Olá! Bem-vindo ao curso.")

# Chamando a função
saudacao()
# Output: Olá! Bem-vindo ao curso.

## 2. Função sem retorno e com parâmetros
Essas funções recebem dados como entrada, mas não retornam nenhum valor. São úteis para operações que apenas executam uma ação com os dados fornecidos.

**Exemplo:**

In [ ]:
def exibir_mensagem(nome):
    print(f"Olá, {nome}! Como vai?")

# Chamando a função com um argumento
exibir_mensagem("Ana")
# Output: Olá, Ana! Como vai?

## 3. Função com retorno e sem parâmetros
Essas funções não recebem dados de entrada, mas retornam um valor. Isso é útil para funções que realizam algum cálculo ou geram um valor que será utilizado posteriormente.

**Exemplo:**

In [ ]:
def obter_mensagem():
    return "Bem-vindo ao Python!"

# Armazenando o retorno da função em uma variável
mensagem = obter_mensagem()
print(mensagem)
# Output: Bem-vindo ao Python!

## 4. Função com retorno e com parâmetros
Essas funções recebem dados de entrada e retornam um valor. São úteis para funções que processam dados e retornam um resultado.

**Exemplo:**

In [ ]:
def somar(a, b):
    return a + b

# Chamando a função e usando o valor retornado
resultado = somar(5, 3)
print(resultado)
# Output: 8

8

## **Resum**o
- **Sem retorno e sem parâmetro**s: Executa uma tarefa simples, sem entrada ou saída.
- **Sem retorno e com parâmetros**: Realiza uma tarefa com dados fornecidos, sem retornar nada.
- **Com retorno e sem parâmetros**: Retorna um valor calculado, sem precisar de entrada.
- **Com retorno e com parâmetros**: Recebe dados, processa e retorna um valor.

Essas combinações ajudam a criar funções flexíveis e reutilizáveis para diversas situações em Python.

As funções são blocos de código que realizam tarefas específicas e podem ser reutilizados. Criamos uma função usando a palavra-chave def, seguida pelo nome da função e seus parâmetros.

In [ ]:
def saudacao(nome):
    return f"Olá, {nome}!"

print(saudacao(input('quem é você? ')))

quem é você? DESGRAÇAAAAAAA
Olá, DESGRAÇAAAAAAA!



---

# **Exercícios Propostos (Com Resolução)**

1. Imprimir Números de 1 a 10

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Soma dos Números Pares até 20

In [ ]:
soma = 0
for i in range(1, 21):
    if i % 2 == 0:
        soma += i
print("Soma dos pares até 20:", soma)

Soma dos pares até 20: 110

3. Contagem Regressiva

In [ ]:
for i in range(10, 0, -1):
    print(i)
print("Lançar!")

10
9
8
7
6
5
4
3
2
1
Lançar!

4. Cálculo de Fatorial

In [ ]:
def fatorial(n):
    resultado = 1
    for i in range(1, n + 1):
        resultado *= i
    return resultado

print(fatorial(5))  # Exemplo de uso

120

5. Verificar Número Primo

In [ ]:
def eh_primo(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

print(eh_primo(7))  # Exemplo de uso

True

6. Soma dos Elementos de uma Lista

In [ ]:
def soma_lista(lista):
    soma = 0
    for elemento in lista:
        soma += elemento
    return soma

print(soma_lista([1, 2, 3, 4, 5]))  # Exemplo de uso

15

7. Tabuada

In [ ]:
def tabuada(n):
    for i in range(1, 11):
        print(f"{n} x {i} = {n * i}")

tabuada(7)  # Exemplo de uso

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8. Contagem de Vogais

In [ ]:
def conta_vogais(palavra):
    vogais = "aeiou"
    contador = 0
    for letra in palavra.lower():
        if letra in vogais:
            contador += 1
    return contador

print(conta_vogais("Python"))  # Exemplo de uso

1

9. Sequência de Fibonacci

In [ ]:
def fibonacci(n):
    sequencia = [0, 1]
    while len(sequencia) < n:
        sequencia.append(sequencia[-1] + sequencia[-2])
    return sequencia[:n]

print(fibonacci(10))  # Exemplo de uso

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

10. Converter Temperatura

In [ ]:
def celsius_para_fahrenheit(c):
    return c * 9 / 5 + 32

print(celsius_para_fahrenheit(25))  # Exemplo de uso

77.0

# **Exercícios para Prática dos Alunos**

## 1. Quadrado dos Números de 1 a 10

Crie uma função que exibe o quadrado dos números de 1 a 10.

In [ ]:
def quadrado_numeros():
    for i in range(1, 11):
        print(i ** 2)

quadrado_numeros()

1
4
9
16
25
36
49
64
81
100

## 2. Produto dos Números de uma Lista

Crie uma função que recebe uma lista e retorna o produto dos seus elementos.

In [ ]:
def produto_lista(lista):
    produto = 1
    for elemento in lista:
        produto *= elemento
    return produto

lista = [2,3,4]
print(produto_lista(lista))

24

## 3. Cálculo da Média

Escreva uma função que recebe uma lista de números e retorna a média aritmética.

In [ ]:
def calcular_media(lista):
    soma = sum(lista)
    media = soma / len(lista)
    return media

numeros = [10, 20, 30, 40, 50]
print(calcular_media(numeros))

30.0

## 4. Verificar Palíndromo

Crie uma função que recebe uma palavra e verifica se é um palíndromo (lê-se igual de trás para frente).

In [ ]:
def eh_palindromo(palavra):
    palavra = palavra.lower()
    if (palavra == palavra[::-1]):
      return "é palindromo"
    else:
      return "não é palindromo"


input_palavra = input('Digite uma palavra: ')
print(eh_palindromo(input_palavra))

Digite uma palavra: bataa
não é palindromo

## 5. Números Ímpares entre 1 e 20

Escreva uma função que retorna uma lista com todos os números ímpares entre 1 e 20.

In [ ]:
def get_impares():
    impares = []
    for i in range(1, 21):
        if i % 2 != 0:
            impares.append(i)
    return impares

print(get_impares())

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## 6. Número Mínimo e Máximo em uma Lista

Crie uma função que retorna o menor e o maior número de uma lista.

In [ ]:
def min_max(lista):
    return min(lista), max(lista) # usando funções min e max do python

lista_nums = [10, 20, 30, 40, 50]
print(min_max(lista_nums))

(10, 50)